<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <script>
            $(document).ready(function () {
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    });
            });
        </script>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Nessus / Tenable.sc</h1>
            <div class="ui container" style="width: 100%">
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            {% if external_img %}
                                <img src="https://i.ibb.co/ypTJW9W/nessus.png">
                            {% else %}
                                <img src="/static/images/nessus.png">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">Nessus</a>
                            <div class="meta">
                                <a>Port scanner</a>
                                <a>Vulnerability scanner</a>
                            </div>
                            <div class="description">
                                Nessus is a proprietary vulnerability scanner developed by Tenable, Inc.
                            </div>
                            <div class="extra">
                                <a href="https://www.tenable.com/products/nessus" class="ui right floated purple button" target="_blank" rel="noopener noreferrer">
                                    Official site
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            {% if external_img %}
                                <img src="https://i.ibb.co/8NRr5mG/tenable.jpg">
                            {% else %}
                                <img src="/static/images/tenable.jpg">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">Tenable.sc</a>
                            <div class="meta">
                                <a>Port scanner</a>
                                <a>Vulnerability scanner</a>
                            </div>
                            <div class="description">
                                Tenable.sc is a comprehensive vulnerability management solution that provides complete visibility into the security posture of your distributed and complex IT infrastructure.
                            </div>
                            <div class="extra">
                                <a href="https://www.tenable.com/products/tenable-sc" class="ui right floated purple button" target="_blank" rel="noopener noreferrer">
                                    Official site
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <h2 class="ui header">Upload reports</h2>
                <form class="ui form" enctype="multipart/form-data" method="post" action="/project/{{ current_project['id'] }}/tools/nessus/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="two fields">
                        <div class="ui field">
                            <label>.nessus/.xml reports:</label>
                            <input type="file" name="xml_files" placeholder="" multiple accept=".nessus,.xml">
                        </div>
                        <div class="ui field">
                            <label>Hosts description:</label>
                            <input type="text" name="hosts_description" placeholder="Added from Nessus scan" value="Added from Nessus scan">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ui field">
                            <div class="ui checkbox" style="margin-top: 10px;">
                                <input type="checkbox" name="add_info_issues" value="1">
                                <label>Import informational issues too (severity=0)</label>
                            </div>
                            <br/>
                            <div class="ui checkbox" style="margin-top: 10px;">
                                <input type="checkbox" checked name="add_technical_info" value="1">
                                <label>Import plugin output strings</label>
                            </div>
                        </div>
                        <div class="ui field">
                            <label>Hostnames description:</label>
                            <input type="text" name="hostnames_description" placeholder="Added from Nessus scan" value="Added from Nessus scan">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ui field">
                            <button type="submit" class="ui button blue" style="margin-top: 20px;"><i class="plus icon"></i>Submit</button>
                        </div>
                        <div class="ui field">
                            <label>Ports description (if no other info):</label>
                            <input type="text" name="ports_description" placeholder="Added from Nessus scan" value="Added from Nessus scan">
                        </div>
                    </div>
                </form>
                {% if errors is defined and errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with host
                        </div>
                        <ul class="list">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elif errors is defined and not errors %}
                    <div class="ui success message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            Successfully uploaded!
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>